body {
    font-family: Arial;
    padding: 10px;
    background: #0d290e;
  }
  
  
  .footer {
  
    padding: 20px;
    text-align: center;
    background: rgb(3, 23, 112);
    margin-top: 20px;
  }
  .footerm {
  
    position: absolute;
      padding: 20px;
      text-align: center;
      background: rgb(173, 10, 10);
      top: 800px;
      width: 100%;
  }
  
  
  
  
  
  body {
      background-color: rgba(167, 37, 37, 0.534);
      position: relative;
  }
  div#saa {
      background-color: rgb(42, 240, 240);
      margin-right: 60%;
      padding-top: 30px;
      margin-left: 5%;    /* padding-left: 40px; */
      border-radius: 10px;
      text-align: center;
  }
  div#saa a:link, div#saa a:visited {
      background-color: white;
      color: black;
      border: 2px solid #4c644c;
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }
  
  div#saa a:hover,div#saa a:active {
      background-color: #891233;
      color: white;
  }
  div#sad {
      position: absolute;
      background-color: cadetblue;
      margin-left: 70%;
      top:200px !important;
      padding-top: 30px;
      /* padding-left: 40px; */
      border-radius: 10px;
      text-align: center;
  }
  div#sad a:link, div#sad a:visited {
      background-color: white;
      color: black;
      border: 2px solid #4c644c;
      padding: 10px 20px;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
      display: inline-block;
      margin-left:100px;
      margin-right:100px;
  }
  
  div#sad a:hover,div#sad a:active {
      background-color: #891233;
      color: white;
  }
  a#logout:link, a#logout:visited,a#back:link, a#back:visited {
      background-color: white;
      color: black;
      border: 2px solid #4c644c;
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }
  a#logout{
      position: absolute;
      right:10px;
      top:10px
  }
  a#back{
      position: absolute;
      left:10px;
      top:10px
  }
  a#logout:hover {
      background-color: #891233;
      color: white;
  }
  div#login {
      background-color: cadetblue;
      margin-right: 35%;
      padding-top: 30px;
      /* padding-left: 40px; */
      border-radius: 10px;
      text-align: center;
      padding-bottom:20px;
      margin-left: 35%;
  }
  a#loginr:link,a#regl:link,input[type=submit], a#loginr:visited,a#regl:visited {
      background-color: white;
      margin-top:5px;
      color: black;
      border: 2px solid #4c644c;
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }
  #header{
      padding: 20px;
      text-align: center;
      background: #8c4b4b;
      margin-left: -18px;
      width: 100%;
      margin-top: -18px;
      font-size: 50px;
  }
  form#frm ,div#frm {
      position:absolute;
      background-color: #134546;
      margin-right: 25%;
      top:30%;
      padding-top: 30px;
       padding-left: 40px;
       padding-right: 40px;
      border-radius: 10px;
      text-align: center;
      padding-bottom:20px;
      margin-left: 45%;
  
  }
  div#frm {
      
      top:30%;
      color: white;
      
  
  }
  form#regf {
      background-color: cadetblue;
      margin-right: 35%;
      padding-top: 30px;
      padding-left: 0px;
      border-radius: 10px;
      text-align: center;
      padding-bottom:20px;
      margin-left: 35%;
  }