body {
    font-family: Arial;
    padding: 10px;
    background: #28216b;
  }
  
  
  .container{

    background-color: aqua;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 300px;
    text-align: center;
    padding: 0px;
    margin-top: -15px;
    margin-left: 470px;
}
  
  h1{
      font-size: 40px;
      margin-left: 462px;
  }